body{
   
 /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ1RtYd1y_B_klg58GTNYEu1bap6xOrf8rx443oZlNzPeSwAFFdQ'); */
 background-image: linear-gradient(to right, red , rgb(15, 15, 75));
 /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
 /* background-image:url(''); */
 background-size: cover;  
 font-size: 25px;  
}
p{
<<<<<<< HEAD
    /* color: whitesmoke; */
=======
    /* color: rgb(37, 17, 17); */
>>>>>>> gh-pages
}
h2{
    color: whitesmoke;
    text-align: center;
}
.form-group{
    color: white;
    text-align: center;
<<<<<<< HEAD
}
.jumbotron{
    text-align: center;
}
.form-control{
    width: 60%;
    margin-left:20%;
}
=======
  }
    h2{
      text-align: center;
      padding-bottom: 10px;
  }
  .jumbotron{
      text-align: center;
  }
  .form-control{
      width: 60%;
      margin-left: 20%;

  }
>>>>>>> gh-pages
